.link{class: "#{link.status}", id: "link-#{link.id}"}
  =link_to link.title, link.url
  =link_to change_status_text(link.read), link_path(link.id, link: {read: swap_status(link.read)}), method: :patch, class: "btn btn-default"
  =link_to "Edit link", edit_link_path(link.id), class: "btn btn-warning"
