.link{class: "#{link.status}", id: "link-#{link.id}"}
  =link_to link.title, link.url
  %button.btn.btn-default.change-status
    =change_status_text(link.read)
  =link_to "Edit link", edit_link_path(link.id), class: "btn btn-warning"
